@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="LinkLabel.styles.css" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body>
    <script src="_framework/blazor.web.js"></script>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</body>

</html>

